@import '../../../lib/variables';

.gameScreenshots {
	&__swiper {
		margin-bottom: 50px;
	}

	&__slide {
		width: 300px;

		& .ant-image {
			height: 160px;
			background-color: #191723;
			border-radius: $border_radius;
			overflow: hidden;
		}
	}
}
